// font colors partial

$bg-color: #f5f5f5;
$site-red: #9D2042; //TRIAD Scheme :: #50081C (dark red) | #24BAE9 (Light blue) | #0B536A (med blue) | #AAA234 (mustard)
$site-dk-red: #50081C;
$site-lt-blue: #24BAE9;
$site-md-blue: #0B536A;
$site-mustard: #AAA234;
$content-color: #3b3b3b;
$site-gray: #9a9a9a;
