// ABOUT :: Code Geoff Davis 2014

// Imports
@import 'fonts';
@import 'fontcolors';
@import 'hover-emphasis';

// Styles

@font-face{
  @include symbols;
}

section#bio{
  line-height: 1.5em;
}

section#contact{
  span#glyph{font-family: 'symbols', monospace; margin-right: 15px;}
  p#name, p#email, p#lkIn, p#inst, p#twtr{
    @include transition-base;
    margin: 3px 0 5px 0;
    padding: 3px 0 3px 0;
    width: 22.5%;
  }
  p#phone{
    display: hidden;
  }
  /*p#phone:hover{
    @include para-emphasis($site-dk-red,white);
    a{color:white;}
  }*/
  p#email:hover{
    @include para-emphasis($content-color,white);
    a{color:white;}
  }
  p#lkIn:hover{
    @include para-emphasis($site-md-blue,white);
    a{color:white;}
  }
  p#inst:hover{
    @include para-emphasis($site-mustard,white);
    a{color:white;}
  }
  p#twtr:hover{
    @include para-emphasis($site-lt-blue,white);
    a{color:white;}
  }
}
