// HOME :: Code Geoff Davis 2014

// IMPORTS
@import 'fonts';
@import 'fontcolors';
@import 'hover-emphasis';

// STYLES

span#pseudo4{
  display:inline;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

div#content{
  section#skills{
    margin-top: 2.5%;
  }
  span#glyph{font-family: 'symbols', monospace; margin-right: 7px;}
  h3{
    margin-bottom: 2.75%;
  }
  article#html, article#css, article#js, article#type{
    // @include transition-base;
    border-radius: 10px;
    padding: 5px;
    cursor: default;
    width: 75%;
    margin-top: 1%;
    p#desc{
      line-height: 1.5em;
    }
  }
  article#html:hover{
    // font-size: 1.25em;
    @include para-emphasis($site-red,white);
    @include transition-hover;
  }
  article#css:hover{
    @include para-emphasis($site-lt-blue,white);
    @include transition-hover;
  }
  article#js:hover{
    @include para-emphasis($site-mustard,white);
    @include transition-hover;
  }
  article#type:hover{
    @include para-emphasis(#3b3b3b,white);
    @include transition-hover;
  }
}
