/* Code Geoff Davis 2014 */

// IMPORTS

// Imports Droid (Mono, Sans, Serif) from Google Fonts
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic);
@import 'fonts';

// Variables
$bg-color: #f5f5f5;
$site-red: #9D2042; //TRIAD Scheme :: #50081C (dark red) | #24BAE9 (Light blue) | #0B536A (med blue) | #AAA234 (mustard)
$site-lt-blue: #24BAE9;
$site-md-blue: #0B536A;
$site-mustard: #AAA234;

$content-bg: white;
$content-color: #3b3b3b;
$sec-mar-btm: 50px;
$brdr-rds: 10px;

$lighter: lighter;
$value-lighter: 50%;

// Mixins

@mixin transition-base(){
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

@mixin transition-hover(){
  transition: all .37s;
  -webkit-transition: all .37s;
  -moz-transition: all .37s;
  -o-transition: all .37s;
}

@mixin content-active(){
  color: $site-md-blue;
  border-color: $site-md-blue;
}
@mixin btn-hover(){
  border-color: $site-lt-blue;
  color: $site-lt-blue;
}

@mixin footer-active($lighter, $lighter-value){
  border-color: $site-mustard;
  color: $site-mustard;
}

// Styles

@font-face{
  @include symbols;
}

body{
  background-color: $bg-color;
  font-family: 'Droid Sans','Droid Sans Mono',sans-serif;

  a{
    text-decoration: none;
    color: inherit;
  }
}

h1, h2, h3, section, article, p, ul, li, a, button{
@include transition-base;
}

ul{
  list-style:none;
  width: 90%;
  text-align:center;
  /*border-bottom:transparent solid 1.5px;*/
  /*background-color:#BB0022;*/
  /*background-color:#9D2042;*/
  /*margin-left:2.25%;*/
}

li{
  display: inline-block;
  border-bottom:transparent solid 5px;
  padding: .25% 1.5% .5% 1.5%; /*top right bottom left*/
  font-size: 1.25em;
}
  li:hover{
    border-bottom: $bg-color solid 5px;
    @include transition-hover;
  }

// #CONTENT :: nested code
div#content{
  width: 65%;
  margin: 0 10% auto 10%;
  background-color: $content-bg;
  padding: 1.25% 7.5% 1.25% 7.5%;
  border: solid 2px #f2f2f2;
  border-radius: $brdr-rds;
  color: $content-color;
  font-size:1em;

  section{
    margin-bottom: $sec-mar-btm;
  }
  h2{
      color: #4e4e4e;
      font-size: 1.75em;
  }
  p{
    margin-left: 1%;
  }
  a:hover{
    color:#b9b9b9;
    text-decoration: dotted;
  }
  a:active{
    @include content-active;
  }
  #source{
    font-size:.67em;
    color: #979797;
  }
  button{
    border-radius: $brdr-rds;
    background-color: $content-bg;
    // color: $site-md-blue;
    padding: $brdr-rds/1.5;
    border: 2px $content-color solid;
  }
  button:hover{
    @include btn-hover;
  }
  button:active{
    @include content-active;
  }
}

// FOOTER :: nested code
footer{
  a{
    color:#bbb;
  }
  a:hover{
    color:#888;
    @include transition-hover;
  }
  a:active{
    @include footer-active(lighter, 50%);
  }
}
