/* Code Geoff Davis 2014 */

// IMPORTS

// Imports Droid (Mono, Sans, Serif) from Google Fonts
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic);
@import 'fonts';
@import '_bootstrap';
//@import 'fontcolors';

// Variables
$bg-color: #f5f5f5;
$site-red: #9D2042; //TRIAD Scheme :: #50081C (dark red) | #24BAE9 (Light blue) | #0B536A (med blue) | #AAA234 (mustard)
$site-dk-red: #50081C;
$site-lt-blue: #24BAE9;
$site-md-blue: #0B536A;
$site-mustard: #AAA234;
$site-gray: #9a9a9a;

$content-bg: white;
$content-color: #3b3b3b;
$sec-mar-btm: 50px;
$brdr-rds: 10px;

$lighter: lighter;
$value-lighter: 50%;

// Mixins

@mixin transition-base(){
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

@mixin transition-hover(){
  transition: all .37s;
  -webkit-transition: all .37s;
  -moz-transition: all .37s;
  -o-transition: all .37s;
}

@mixin content-active(){
  color: $site-md-blue;
  border-color: $site-md-blue;
}
@mixin btn-hover(){
  border-color: $site-lt-blue;
  color: $site-lt-blue;
}

@mixin footer-active($lighter, $lighter-value){
  border-color: $site-mustard;
  color: $site-mustard;
}

// Styles

@font-face{
  @include symbols;
}

body{
  overflow-y: scroll;
  background-color: $bg-color;
  font-family: 'Droid Sans','Droid Sans Mono',sans-serif;
}

header{
  a{
    color: inherit;
    text-decoration: none;
  }
  ul{
    margin: 1.25% 0 0 0;
    padding: 0;
    width: 90%;
  }
  li{
    @include transition-base;
  }
}

var,h1, h2, h3, section, article, ul, a, button{
  @include transition-base;
}

ul{
  list-style:none;
  text-align:center;
  /*border-bottom:transparent solid 1.5px;*/
  /*background-color:#BB0022;*/
  /*background-color:#9D2042;*/
  /*margin-left:2.25%;*/
}

li{
  display: inline-block;
  border-bottom:transparent solid 5px;
  padding: .25% 1.5% .5% 1.5%; /*top right bottom left*/
  font-size: 1.25em;
}
  li:hover{
    border-bottom: $bg-color solid 5px;
    // @include transition-hover;
  }

// #CONTENT :: nested code
div#content{
  /*width: 65%;*/
  margin: 0 10% auto 10%;
  background-color: $content-bg;
  padding: 1.25% 7.5% 1.25% 7.5%;
  border: solid 2px #f2f2f2;
  border-radius: $brdr-rds;
  color: $content-color;
  font-size:1em;

  section{
    margin-bottom: $sec-mar-btm;
  }
  h2{
      color: #4e4e4e;
      font-size: 1.75em;
  }
  p{
    margin-left: 1%;
  }
  a{
    text-decoration: none;
    //color: #5e5e5e;
    color: $site-red;
  }
  a:hover{
    color:#c9c9c9;
    text-decoration: dotted;
  }
  a:active{
    @include content-active;
  }
  #source{
    font-size:.67em;
    color: #979797;
  }
  button{
    border-radius: $brdr-rds;
    background-color: $content-bg;
    // color: $site-md-blue;
    padding: $brdr-rds/1.5;
    border: 2px $content-color solid;
  }
  button:hover{
    @include btn-hover;
  }
  button:active{
    @include content-active;
  }
}

blockquote{
  color: $site-gray;
  display: block;
  font-style: italic;
  border-left: 3px solid $site-red;
  margin: 15px 0 15px 30px;
  padding: 0 30px 0 15px;
  // padding: 0 30px 0 15px;
  // margin: 15px 0 15px 0;
  p{
    margin-bottom: 0px;
    font-size: 1.1em;
  }
  span#qsource{
    // color: $content-color;
    font-style: normal;
    margin: 0 0 0 45px;
    font-size: .9em;
  }
    span#qsource::before{
      content:"— ";
    }
}
  blockquote p::before,blockquote p::after{
    font-size: 1.25em;
    font-style: normal;
    font-family: 'Droid Serif', 'Gill Sans', serif;
  }
    blockquote p::before{
      content:"\2018 \2018 ";
    }
    blockquote p::after{
      content: " \2019 \2019";
    }

// FOOTER :: nested code
footer{
  // margin-top: -25px;
  margin-bottom: 37px;
  a{
    color:#bbb;
    text-decoration:none;
  }
  a:hover{
    color:#888;
    @include transition-hover;
  }
  a:active{
    @include footer-active(lighter, 50%);
  }
}
