@font-face {
  font-family: 'symbols';
  src: url("webSymbolsFont/symbols4web-webfont.eot");
  src: url("webSymbolsFont/symbols4web-webfont.eot?#iefix") format("embedded-opentype"), url("webSymbolsFont/symbols4web-webfont.woff") format("woff"), url("webSymbolsFont/symbols4web-webfont.ttf") format("truetype"), url("webSymbolsFont/symbols4web-webfont.svg#web_symbolsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
div#content a {
  color: #50081c; }
div#content a:hover {
  color: #9d2042; }
div#content a:active {
  color: #0b536a;
  border-color: #0b536a; }
div#content span#glyph {
  font-family: 'symbols', monospace;
  margin-right: 7px; }
